<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rafal.szklarniaapp">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.INTERNET" />



    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="SzklarniaApp"
        android:roundIcon="@mipmap/ic_launcher_foreground"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <activity android:name=".ZalogujActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>



        </activity>

        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".HistoriaActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".SterowanieActivity"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".WykresyActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity android:name=".OpcjeActivity"
            android:screenOrientation="portrait">

        </activity>

        <activity android:name=".WybierzPomiar"
            android:screenOrientation="portrait">

        </activity>


        <activity android:name=".WykresyRzeczywisteActivity"
            android:screenOrientation="landscape">

        </activity>


        <service android:name=".AktualizujPomiaryService">

        </service>


    </application>

</manifest>